@using SqliteDataDemo.Data

<div class="row bg-light">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Car Id</th>
                <th>Name</th>                
                <th>PlateNumber</th>
                <th>Built</th>
                <th>Colour</th>
                <th>Delete Car</th>
            </tr>
        </thead>
        <tbody>
            @if (CarList.Any())
            {
                @foreach (var car in CarList)
                {
                    <tr @onclick="(() => SetCarForUpdate(car))">
                        <td>@car.Id</td>
                        <td>@car.Name</td>
                        <td>@car.PlateNumber</td>
                        <td>@car.Built</td>
                        <td>@car.Colour</td>
                        <td><button class="btn btn-danger" @onclick="(() => DeleteCar(car))">Delete</button></td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="6"><strong>No products available</strong></td></tr>
            }
        </tbody>
    </table>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public List<Car> CarList { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<CarEventArgs> OnCarSelectClick { get; set; } 

    [Parameter]
    [EditorRequired]
    public EventCallback<CarEventArgs> OnCarDeleteClick { get; set; }


    private void SetCarForUpdate(Car car)
    {
        OnCarSelectClick.InvokeAsync(new CarEventArgs(car));
    }

    private void DeleteCar(Car car)
    {
        OnCarDeleteClick.InvokeAsync(new CarEventArgs(car));
    }


}
