@*@using Meziantou.AspNetCore.Components
@using SqliteDataDemo.Data

<EditForm Model="@car" OnSubmit="() => { }">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <GenericForm Model="@car" EditorClass="form-control">
        <FieldTemplate Context="field">
            <div class="form-group">
                <label for="@field.EditorId">@field.DisplayName</label>
                @field.EditorTemplate
                @field.FieldValidationTemplate
            </div>
        </FieldTemplate>
    </GenericForm>

    <button type="submit" @onclick="OnSubmit">Submit</button>
</EditForm>

@code {

    [Parameter]
    [EditorRequired]
    public Car car { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<CarEventArgs> OnBtnSubmitClick { get; set; }

    private void OnSubmit()
    {
        OnBtnSubmitClick.InvokeAsync(new CarEventArgs(car));
    }
}
*@